<a href="https://colab.research.google.com/github/Wiggle-Ryutsuki/CPE232-DATAMODELS/blob/main/HW1_BasicPythonProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW 1: Basic Python Programming
#### CPE232 Data Models
#### Maimoona Aziz #67070503473

---

Description : For this homework, please write your code in the section we prepared for you. If you need to leave a comment or message for the TA, use the # symbol in the code section. You may also create a text cell in the Jupyter Notebook to provide clarification.

Good luck with Python!

<image src="https://github.com/cat-milk/Anime-Girls-Holding-Programming-Books/blob/master/Python/Komi_San_Maid_Outfit_Python.png?raw=true"/>

## 1. Basic usage

> John Doe is a 35 years-old software engineer who earns ฿35000.00 a month.

Create and assign variables to store this person's information (name, age, position and salary).

In [ ]:
# Write your code here
name = "John Doe"
age = 35
position = "Software Engineer"
salary = 35000.00

What is the type of each variables?

In [ ]:
# Write your code here
print(type(name))     #name = 'str' string
print(type(age))      #age = 'int' integer
print(type(position)) #position = 'str' string
print(type(salary))   #salary = 'float' float

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

The manager decides to give John a 7% raise. Update his salary.

In [ ]:
# Write your code here
salary = salary*1.07

Prints his information again with his new salary.

In [ ]:
# Write your code here
print(name, age, position, salary, sep="\n")

John Doe
35
Software Engineer
37450.0

## 2. Variable and Expression

**2.1** Write a code to convert temperature unit from celcius to other units and then prints out

In [ ]:
C = 34.5

**Fahrenheit**  
#### $\frac{C}{5} = \frac{F-32}{9}$

In [ ]:
#F = (9C / 5) + 32
F = 9*C/5+32

print(F)  # 34.5 C = 94.1 F

94.1

**Kelvin**  
$K = C + 273.15$

In [ ]:
K = C+273.15
print(K)  # 34.5 C = 307.65 K

307.65

**Rømer**  
#### $Ro = \frac{C \times 21}{40} + 7.5$

In [ ]:
Ro = C*21/40+7.5
print(Ro)  # 34.5 C = 25.6125 Ro

25.6125

**2.2** Write code to read the input for weight (kg) and height (cm), then print out the BMI (Body Mass Index).

$BMI =$ $kg \over m^2$

In [ ]:
weight = int(input("Weight (kg):"))
height = int(input("Height (cm):"))

# Write your code here

height = height/100       # Convert cm to m
BMI = weight/(height**2)  # Calculate BMI
print(BMI)                # Print

Weight (kg):60
Height (cm):170
20.761245674740486

## 3. Multi-item variables
#### List

In [ ]:
names = ['Thomas', 'Kate', 'Mike', 'Amelia', 'James', 'Megan']

Create new variable call `new_name` which takes input name of the user.

In [ ]:
new_name = input('Enter your name: ')

Enter your name: Lucy

Insert `new_name` into `names` list.

In [ ]:
# Write your code here
names.append(new_name)

Print your name from the list `by index`.

In [ ]:
# Write your code here
print(names[6])

Lucy

Merge `another_names` into `names`.

In [ ]:
another_names = ['Peter', 'Steve', 'Sam', 'Charlotte']

In [ ]:
# Write your code here
names = names + another_names

Change `Amelia`'s name to `Amy`

In [ ]:
# Write your code here
names[3] = "Amy"

['Thomas', 'Kate', 'Mike', 'Amy', 'James', 'Megan', 'Lucy', 'Peter', 'Steve', 'Sam', 'Charlotte', 'Peter', 'Steve', 'Sam', 'Charlotte']

#### Dictionary

In [ ]:
capital_city = {'England':'London',
                'Spain':'Madrid',
                'Japan':'Tokyo',
                'Australia':'Sydney',
                'Germany':'Berlin',
               }

Add a record `Thailand` and it's capital city to this dictionary

In [ ]:
# Write your code here
capital_city["Thailand"] = "Bangkok"

{'England': 'London', 'Spain': 'Madrid', 'Japan': 'Tokyo', 'Australia': 'Sydney', 'Germany': 'Berlin', 'Thailand': 'Bangkok'}

You may notice that the capital city of `Australia` is wrong. It should be `Canberra`. Correct this mistake.

In [ ]:
# Write your code here
capital_city.update({"Australia":"Canberra"})

{'England': 'London', 'Spain': 'Madrid', 'Japan': 'Tokyo', 'Australia': 'Canberra', 'Germany': 'Berlin', 'Thailand': 'Bangkok'}

## 4. Control Flows and conditional statements

### if...elif...else

**1.** Write a program that takes two numbers as input from the user, called A and B. Then, print the number that is greater.

Example:
* If `A = 25` and `B = 15`, the program should print: "A = 25"
* If `A = 10` and `B = 22`, the program should print: "B = 22"

In [ ]:
A = int(input("A: "))
B = int(input("B: "))
# Write your code here

if A > B:
  print("A =", A)
else:
  print("B =", B)

A: 10
B: 22
B = 22

**2.** Define a variable to get input age from user

In [ ]:
age = int(input("Age: "))

Age: 25

Write a series of if...elif...else statement that categorize input age into following groups:
> Babies: 0-2 years old  
Children: 3-12 years old  
Teenager: 13-19 years old  
Young Adults: 20-29 years old  
Middle-aged Adults: 30-45 years old  
Old Adult: 46-59 years old  
Elderly: Above 60 years old

In [ ]:
# Write your code here
if age >= 0 and age <= 2:
  print("Baby")
elif age >= 3 and age <= 12:
  print("Children")
elif age >= 13 and age <= 19:
  print("Teenager")
elif age >= 20 and age <= 29:
  print("Young Adults")
elif age >= 30 and age <= 45:
  print("Middle-aged Adults")
elif age >= 46 and age <= 59:
  print("Old Adult")
elif age >= 60:
  print("Elderly")
else:
  print("Invalid age")

Young Adults

### Looping

**1.** Write a code to create a multiplication table of an input number (multiplier from 1-12).

In [ ]:
# Write your code here
num = int(input("Input Number: "))

for i in range (1, 13):
  print(num,"*",i,"=",i*num)

Input Number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

**2.** Write a code that construct the following pattern.

```
input: 5
output:
*
**
***
****
*****
```

In [ ]:
# Write your code here
for i in range(1,num+1):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

**3.** Creates a loop to print `I love <programming language>!` except for Assembly, print `Not you, Assembly`.

In [3]:
languages = ['C/C++', 'Python', 'R', 'Java', 'SQLs', 'Assembly', 'Go', 'Rust', 'Kotlin']

In [11]:
# Write your code here
for lang in languages:
  if lang == "Assembly":
    print("Not you, Assembly")
  else:
    print(f"I love {lang}!")

I love C/C++!
I love Python!
I love R!
I love Java!
I love SQLs!
Not you, Assembly
I love Go!
I love Rust!
I love Kotlin!

**4.** Write a code to print every number from 1 to 25 except the one that is divisible by 3.

In [ ]:
# Write your code here
for i in range(1,26):
  if i % 3 != 0:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25

**5.** Write a code that finds the number that is divisible by 7 in a given range.

In [ ]:
lower_bound = 1
upper_bound = 100
divisor = 7

result = []

In [ ]:
# Write your code here
for i in range(lower_bound, upper_bound+1):
  if i % 7 == 0:
    result.append(i)

print(result)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

**6.** Write a code that construct the following pattern.

```
input: 5
output:
*#####
**####
***###
****##
*****#

input: 10
output:
*##########
**#########
***########
****#######
*****######
******#####
*******####
********###
*********##
**********#
```

In [ ]:
# Write your code here
for i in range(1, num+1):
  for j in range(i):
    print("*", end="")
  for k in range(num-i+1):
    print("#", end="")
  print()

*#####
**####
***###
****##
*****#

## 5. Functions

**1.** Define a function `average` that takes _list of numbers_ and calculate the mean of input.
It should look like this:  
> average([1,2,3,4])
output: 2.5

In [10]:
# Write your code here

# Mean calculating funtion
def average(numbers):
  if not numbers:
    return 0
  total = sum(numbers)
  length = len(numbers)
  return total/length

# Testing Zone -- Takes a list and inputs into function
list_len = int(input("List Length: "))
numbers = []
for i in range(list_len):
  n = float(input(f"Enter number [{i}]: "))
  numbers.append(n)

mean = average(numbers)
print("Average:", mean)

List Length:3
Enter number [0]1
Enter number [1]2
Enter number [2]3
Average: 2.0

**2.** Define a function `sumproduct` that takes 2 _equal-sized_ lists and calculate sum of the products of two lists.  
It should look like this:  
> sumproduct([1,2,3],[4,5,6])  
output: 32

(1 * 4) + (2 * 5) + (3 * 6) = 32

In [1]:
# Write your code here

# Function
def sumproduct(list1, list2):
  if len(list1) == len(list2):
    sum = 0
    for i in range(0, len(list1)):
      sum += list1[i]*list2[i]
    return sum
  else:
    print("Lists have to be equally sized")
    exit()

# Testing -- Getting input of two different lists and executing function
list1_len = int(input("List1 Length: "))
list2_len = int(input("List2 Length: "))

print()

list1 = []
list2 = []

for i in range(list1_len):
  n = float(input(f"Enter number [{i}] for List1: "))
  list1.append(n)

print()

for i in range(list2_len):
  n = float(input(f"Enter number [{i}] for List2: "))
  list2.append(n)

print()

sumproduct = sumproduct(list1, list2)
print("Sum Product:", sumproduct)

List1 Length: 3
List2 Length: 3

Enter number [0] for List1: 1
Enter number [1] for List1: 2
Enter number [2] for List1: 3

Enter number [0] for List2: 4
Enter number [1] for List2: 5
Enter number [2] for List2: 6

Sum Product: 32.0

**3.** Define a function `fibonacci` that returns Fibonacci number at `n` position.  
A Fibonacci number at position `n` is defined by `F(n) = F(n-1) + F(n-2)`. Where `F(0) = 0` and `F(1) = 1`  
**Example:** `0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...`

In [7]:
# Write your code here
def fibonacci(n):
  if n <= 1:
    return n
  else:
    return fibonacci(n-1) + fibonacci(n-2)

# Testing code -- Inputting n and calling fibonacci function
n = int(input("Position: "))
for i in range(n):
  print(fibonacci(i), end=", ")

Position: 5
0, 1, 1, 2, 3,

**4.** Define a function `is_palindrome` that takes input string and check whether it is a palindrome or not.  
A string is a palindrome if it reads the same forward and backwards.  

**Example:** `madam`, `race car`, `borrow or rob`, `amore roma`, `never odd or even`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  

**Hint:** you can reverse the string using `[::-1]` slice.

In [ ]:
str1 = "radar" # palindrome
str2 = "rotator" # palindrome
str3 = "lemon" # not palindrome

In [8]:
# Write your code here
word = input("String: ")

word.replace(' ', '')
word.lower()

if word == word[::-1]:
    print("It's a palindrome")
else:
    print("It's NOT a palindrome")

String: TACOCAT
It's a palindrome

**5.** An `anagram` is a word or phrase formed by rearranging the letters of a different word or phrase.  
Define a function `is_anagram` that takes in 2 strings and check whether it is possible to compose a second string using letters in the first string or not.  

**Example:** `Tom Marrvolo Riddle` can be rearraged into `I am Lord Voldermort`  
`Meaning of Life` can be rearranged into `Engine of a Film`  
Do not consider whitespace. Use `str.replace(' ', '')` to remove whitespace from your string.  
Case-insensitive. You can turn everything into lower or uppercase using `str.lower()` or `str.upper()`  
Returns only `True` of `False`

In [12]:
# Write your code here
str1 = "Meaning of Life"
str2 = "Engine of a Film"


def anagram(str1, str2):
  str1 = str1.replace(' ', '')
  str1 = str1.lower()
  str2 = str2.replace(' ', '')
  str2 = str2.lower()

  if len(str1) != len(str2):
    return False

  sorted_str1 = ''.join(sorted(str1))
  sorted_str2 = ''.join(sorted(str2))

  if sorted_str1 == sorted_str2:
    return True
  else:
    return False

# Checking
if(anagram(str1,str2)):
    print("True")
else:
    print("False")

true

---